tei/tei_asbeta.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>asbeta</title>
        <author>Katharina Bleier</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the <ref
              target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare
          exemplars by SPQR and LR.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.3.0" when="2025-09-26T17:40:38.999Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head>A Minimal TEI Customization</head>

      <p>This TEI ODD defines a TEI customization that is as minimal as possible and the schema
        generated from it will validate a document that is minimally valid against the TEI scheme.
        It includes only the ten required elements: <list rend="numbered">
          <item><gi>teiHeader</gi> from the header module to store required metadata</item>
          <item><gi>fileDesc</gi> from the header module to record information about this
            file</item>
          <item><gi>titleStmt</gi> from the header module to record information about the
            title</item>
          <item><gi>publicationStmt</gi> from the header module to detail how it is published</item>
          <item><gi>sourceDesc</gi> from the header module to record where it is from</item>
          <item><gi>p</gi> from the core module for use in the header and the body</item>
          <item><gi>title</gi> from the core module for use in the titleStmt</item>
          <item><gi>TEI</gi> from the textstructure module because what is a TEI file without
            that?</item>
          <item><gi>text</gi> from the textstructure module to hold some text</item>
          <item><gi>body</gi> from the textstructure module as a place to put that text</item>
        </list>
      </p>
      <schemaSpec ident="tei_asbeta" start="TEI" prefix="tei_" targetLang="en" docLang="en">

        <!-- required minimal header elements -->
        <moduleRef key="header"
          include="teiHeader fileDesc titleStmt publicationStmt sourceDesc availability licence idno profileDesc revisionDesc change"/>

        <!-- required core elements (p and title for use in titleStmt) -->
        <moduleRef key="core"
          include="p title author editor publisher date pubPlace listBibl bibl pb hi head del note ref milestone add gap"/>

        <!-- required textstructure elements (TEI, text, and body) -->
        <moduleRef key="textstructure" include="TEI text body div"/>

        <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei"/>


        <moduleRef key="namesdates"
          include="forename surname persName settlement placeName listPerson person listOrg org orgName listPlace place location geo"/>
        <moduleRef key="msdescription"
          include="msDesc msIdentifier institution collection altIdentifier physDesc objectDesc"/>
        <moduleRef key="corpus" include="particDesc settingDesc"/>
        <moduleRef key="transcr" include="supplied"/>
        <elementSpec ident="p" mode="change">
          <attList>
            <attDef ident="rend" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="inline">
                  <desc versionDate="2025-09-26" xml:lang="en">Beginning of new paragraph without
                    linebreak</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="persName" mode="change">
          <attList>
            <attDef ident="ref" mode="change" usage="opt">
              <desc versionDate="2025-09-26" xml:lang="en">Optional reference to person in index or
                GND authority</desc>
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="placeName" mode="change">
          <attList>
            <attDef ident="ref" mode="change" usage="req">
              <desc>Required reference to place index or GND authority</desc>
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="orgName" mode="change">
          <attList>
            <attDef ident="ref" mode="change" usage="req">
              <desc versionDate="2025-09-26" xml:lang="en">Required reference to organization index
                or GND authority</desc>
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="title" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="source">
                  <desc versionDate="2025-09-26" xml:lang="en">Title of edited document</desc>
                </valItem>
                <valItem mode="add" ident="uniform">
                  <desc versionDate="2025-09-26" xml:lang="en">Uniform title of the editied
                    document</desc>
                </valItem>
                <valItem mode="add" ident="music">
                  <desc versionDate="2025-09-26" xml:lang="en">Title of musical work</desc>
                </valItem>
                <valItem mode="delete" ident="main"/>
                <valItem mode="delete" ident="sub"/>
                <valItem mode="delete" ident="alt"/>
                <valItem mode="delete" ident="short"/>
                <valItem mode="delete" ident="desc"/>
              </valList>
            </attDef>
            <attDef ident="ref" mode="change" usage="opt">
              <desc versionDate="2025-09-26" xml:lang="en">Reference to a work in the work index or
                GND authority</desc>
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="date" mode="change">
          <attList>
            <attDef ident="when" mode="change" usage="req">
              </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="idno" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="shelfmark">
                  <desc versionDate="2025-09-26" xml:lang="en">Mark that denotes physical location
                    in archive</desc>
                </valItem>
                <valItem mode="add" ident="gnd">
                  <desc versionDate="2025-09-26" xml:lang="en">idno according Gemeinsame
                    Normdatei</desc>
                </valItem>
                <valItem mode="delete" ident="ISBN"/>
                <valItem mode="delete" ident="ISSN"/>
                <valItem mode="delete" ident="DOI"/>
                <valItem mode="delete" ident="VIAF"/>
                <valItem mode="delete" ident="ESTC"/>
                <valItem mode="delete" ident="OCLC"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="div" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="entry">
                  <desc versionDate="2025-09-26" xml:lang="en">Division contains one diary
                    entry</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="n" mode="change" usage="req"/>
          </attList>
        </elementSpec>
        <elementSpec ident="pb" mode="change">
          <attList>
            <attDef ident="n" mode="change" usage="req"/>
            <attDef ident="facs" mode="change" usage="req">
              <desc versionDate="2025-09-26" xml:lang="en">Link to facsimile image</desc>
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="hi" mode="change">
          <attList>
            <attDef ident="rend" mode="change" usage="req">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="underline">
                  <desc versionDate="2025-09-26" xml:lang="en">underline</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="del" mode="change">
          <attList>
            <attDef ident="rend" mode="change" usage="req">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="strikethrough">
                  <desc versionDate="2025-09-26" xml:lang="en">Deletion strikethrough</desc>
                </valItem>
                <valItem mode="add" ident="overwritten">
                  <desc versionDate="2025-09-26" xml:lang="en">Text overwritten</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="add" mode="change">
          <desc>Contains text added by the author</desc>
          <attList>
            <attDef ident="place" mode="change" usage="req">
              <desc versionDate="2025-09-26" xml:lang="en">Location of addition</desc>
              <valList type="closed">
                <valItem ident="above">
                  <desc versionDate="2025-09-26" xml:lang="en">Above the line</desc>
                </valItem>
                <valItem ident="below">
                  <desc versionDate="2025-09-26" xml:lang="en">Below the line</desc>
                </valItem>
                <valItem ident="inline">
                  <desc versionDate="2025-09-26" xml:lang="en">Within the line</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="note" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="opt">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="commentary">
                  <desc versionDate="2025-09-26" xml:lang="en">Commentary by editor</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="place" mode="change" usage="opt">
              <valList type="closed">
                <valItem ident="left">
                  <desc versionDate="2025-09-26" xml:lang="en">Note by the Author, left
                    margin</desc>
                </valItem>
                <valItem ident="right">
                  <desc versionDate="2025-09-26" xml:lang="en">Note by the Author, right
                    margin</desc>
                </valItem>
                <valItem ident="top">
                  <desc versionDate="2025-09-26" xml:lang="en">Note by the Author, top
                    margin</desc>
                </valItem>
                <valItem ident="bottom">
                  <desc versionDate="2025-09-26" xml:lang="en">Note by the Author, bottom
                    margin</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="gap" mode="change">
          <attList>
            <attDef ident="reason" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="delete" ident="cancelled"/>
                <valItem mode="delete" ident="deleted"/>
                <valItem mode="delete" ident="editorial"/>
                <valItem mode="delete" ident="inaudible"/>
                <valItem mode="delete" ident="irrelevant"/>
                <valItem mode="delete" ident="sampling"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
